html {
    min-height: 100%;

    body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;

        .labeling {
            color: #add8e6;
            font-weight: bolder;
        }

        .gamelist {
            a {
                color: #fff;
                text-decoration: none;
            }
        }

        span {
            svg {
                height: 20px;
            }

            a {
                svg {
                    height: 20px;
                }
            }
        }

        [aria-label="Pagination Navigation"] {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            margin-bottom: 15px;

            div {
                p {
                    margin-top: 15px;
                    text-align: center;
                }
            }
        }

        footer {
            margin-top: auto;
        }
    }
}